.hero {
  background-image: url("./heroPhoto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.title {
  color: red;
  font-weight: bold;
  font-style: italic;
}
