.hero {
  background-image: url("./heroPhoto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}
.music  {
    background-image: url("./Music.jpg");
    background-repeat: no-repeat;
    background-size: center;
    min-height: 400px;